
form{
    margin: 40px;
}

table{
    border: 2px solid black;
    background-color: rgb(101, 102, 102);
    width: 100%;
}
tr{
    /* background-color: rgb(101, 102, 102); */
}
td{
    border: 2px solid;
    padding: 10px;
    text-align: center;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    margin: 10px 0px;
}
label {
    font-size: 20px;
    margin-left: 95px;
   
}

input {
    background-color: rgb(101, 102, 102);
    width: 100%;
    text-align: center;
    border: none;
    font-size: 20px;
}
#submitbtn{
    display: flex;
    justify-content: center;
}
button {
    padding: 10px;
    width: 250px;
    border: 2px solid;
    border-radius: 25px;
    background-color: #58565b;
    font-size: 20px;
}
button:hover{
    background-color: white;

}