
#main {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    width: 400px;
    align-items: center;
    flex-direction: column;
    flex-direction: #d7d4da;
    border: 2px solid black;
    padding: 40px;
    background-color: #918477;
}

label {
    font-size: 20px;
    margin-left: -70px;
}

input {
    padding: 10px;
    margin: 10px;
}

button {
    padding: 12px;
    margin-left: -90px;
    width: 100px;
    border: 1px solid;
    border-radius: 30px;
}
h1{
    text-align: center;
}